.card {
  border: 1px solid gold;
  max-width: 360px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  transition: box-shadow 0.2s easy-in-out;
  transform: 0.2s easy-in-out;
  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.45);
    transform: translateY(-5px);
  }
  button {
    cursor: pointer;
  }
}
