.dFlex {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  border-bottom: 1px solid #ced4da;
}

.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

.headerInfo {
  font-family: Roboto, sans-serif;
  color: white;
  // text-align: center;
  font-size: 25px;
  padding-left:10px;
  font-weight:bold;
  margin: 0;
}

.headerRight {
  margin: 0;
  li {
    margin-right: 30px;
    cursor: pointer;
  }
}

.emptyCart{
  width: 100%;
  height:100%;
  display: grid;
  place-items: center;
}

.cartItem {
  overflow: auto;
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid none;
  background-color: #EAEDF6;
  border-radius: 10px;
  margin-bottom: 10px;
  p {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px;
  }
  b {
    font-size: 12px;
  }
  button {
    width: 21px;
    height: 21px;
  }
}

.cartImg {
  width: 100%;
  border: 1px solid none;
  border-radius: 10px 10px 0 0;
  justify-self: center;
}

.items {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  overflow: hidden;
  justify-content: center;
  justify-self: center;
}

.cartBottom {
  display: grid;
  height: 60px;
  grid-template-rows: 1fr,50px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  p{
    margin: 5px;
    b{
      color:rgba(255, 0, 0, 0.751)
    }
   
  }
}

.cartTotalBlock {
  display: grid;
  grid-template-columns: 1fr;
  ul {
    padding-left: 0;
  }
  li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  align-self: flex-end;
}

.greenButton {
  width: 150px;
  height: 50px;
  background-color: #5fa55a;
  backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: 0px solid black;
  border-radius: 20px;
  justify-self: center;
  cursor: pointer;
  span {
    color: rgba(255, 0, 0, 0.788);
    font-weight: bold;
  }
  &:hover{
    box-shadow: 0 0 5px #5fa55a, 0 0 25px #5fa55a, 0 0 25px #5fa55a, 0 0 100px #5fa55a;
    
  }
}

.crossButton {
  cursor: pointer;
  justify-self: flex-end;
}

.mainButton {
  width: 12px;
  height: 12px;
}

.tohomeDrawer{
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.507);
  border-radius: 50%;
  position: fixed;
  top: 4%;
  left: 85%;
}

@media (min-width:376px) and (max-width: 800px){
  .headerInfo {display: none;
  }
}

@media (min-width:320px) and (max-width: 376px) {
  .dFlex {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50px, 1fr;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ced4da;
  }
  .headerInfo {
    display: none;
  }
  .headerLeft{
    display: none;
    img{
      align-self: center;
      width: 30px;
      height: 30px;
    }
  }
  .headerRight{
    justify-self:center;
  }
  .BasicDrawer{
    width: 200px;
  }
}
